
<canvas id="myChart" width=20% height=20%></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<p>Elever: </p><select id='students-select'></select>
<p>Measurement: </p><select id='measurement-select'></select>
<div id='myChart'></div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [{
                x: -10,
                y: 0
            }, {
                x: 0,
                y: 10
            }, {
                x: 10,
                y: 5
            }]
        }]
    },
    options: {
        animation: {
            duration : 0
        },
        scales: {
            xAxes: [{
                ticks: {
                    min : 0
                },
                type: 'linear',
                position: 'bottom',
            }],
        }
    }
});

var measurement_select = $("#measurement-select");
var students_select = $("#students-select");


function update_2d_data(){
// $.get('http://localhost:5000/get_keyed_data', {'keys' : get_select_values(), 'act_id' : {{ activity.id }}}).done(
$.get("/get_measurement_data", {measurement : measurement_select.val(), student : students_select.val(), act_id : {{ activity.id }}}).done(
    function(returnedData) {
    
    scatterChart.data.datasets = [];
    datapoint = {data : returnedData};
    scatterChart.data.datasets.push(datapoint);
    scatterChart.update()

    // scatterChart.data.datasets = [];
    // for (var i = 0; i < returnedData.length; i++){
    //     datapoint = {data : returnedData[i]};
    //     scatterChart.data.datasets.push(datapoint)
    // }

});
}

// get selector values
$.get('/get_measurement_keys_and_students', {'act_id' : {{ activity.id }} }).done(
    function(returnedData) {
    s= document.getElementById('students-select');
    m= document.getElementById('measurement-select');
    $("#x-select").empty();
    $("#y-select").empty();
    for (var i = 0; i < returnedData[0].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[0][i];
        option.text = returnedData[0][i];
        m.appendChild(option);
    }
    for (var i = 0; i < returnedData[1].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[1][i];
        option.text = returnedData[1][i];
        s.appendChild(option);
}
});




function get_select_values(){
    var retdict = { x : [x_select.val()], y : [y_select.val()]}
    console.log(retdict);
    return(retdict);
}

window.setInterval(function() {update_2d_data();}, 1000);


</script>
