
<canvas id="myChart" width=20% height=20%></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<!-- <script type="text/javascript" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
<script type="text/javascript" src="{{ url_for('static', filename='chartjs-chart-matrix.js') }}"></script>

<p>Elever: </p><select id='students-select'></select>
<p>Measurement: </p><select id='measurement-select'></select>
<div id='myChart'></div>


<script>
var w = 5;
var h = 5;
var max_v = 400;

var ctx = document.getElementById('myChart').getContext('2d');
var heatmap = new Chart(ctx, {
    type: 'matrix',
    data: {
        datasets: [{
            label: 'My Matrix',
            data: [
            ],
            backgroundColor: function(ctx) {
                var value = ctx.dataset.data[ctx.dataIndex].v;
                // var alpha = value / 1000;
                // var alpha = (value - 5) / 40;
                var alpha = (value / max_v);
                console.log(max_v, value, alpha);
                return Color('green').alpha(alpha).rgbString();
            },
            width: function(ctx){
                return w;
            },
            height: function(ctx){
                return h;
            },
        }]
    },
    options: {
        animation: {
            duration : 0
        },
        scales: {
            xAxes: [{
                ticks: {
                    min : 0,
                    max : 30
                },
                type: 'linear',
                position: 'bottom',
            }],
            yAxes: [{
                ticks: {
                    min : 0,
                    max : 30
                },
                type: 'linear',
            }],
        }
    }
});



var measurement_select = $("#measurement-select");
var students_select = $("#students-select");


function update_2d_data(){
$.get("/get_heatmap_data", {measurement : measurement_select.val(), student : students_select.val(), act_id : {{ activity.id }}}).done(
    function(returnedData) {
    heatmap.data.datasets[0].data = returnedData[0];
    // datapoint = {data : returnedData[0]};
    max_v = returnedData[1];
    // heatmap.data.datasets.push(datapoint);
    heatmap.update()


});
}

// get selector values
$.get('/get_measurement_keys_and_students', {'act_id' : {{ activity.id }} }).done(
    function(returnedData) {
    s= document.getElementById('students-select');
    m= document.getElementById('measurement-select');
    $("#x-select").empty();
    $("#y-select").empty();
    for (var i = 0; i < returnedData[0].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[0][i];
        option.text = returnedData[0][i];
        m.appendChild(option);
    }
    for (var i = 0; i < returnedData[1].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[1][i];
        option.text = returnedData[1][i];
        s.appendChild(option);
}
});




function get_select_values(){
    var retdict = { x : [x_select.val()], y : [y_select.val()]}
    console.log(retdict);
    return(retdict);
}

window.setInterval(function() {update_2d_data();}, 1000);


</script>
