
<canvas id="myChart" width=20% height=20%></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div id='myChart'></div>
<<p>Elever: </p><select id='students-select'></select>
<<p>Opgave: </p><select id='assignment-select'></select>



<script>
var ctx = document.getElementById('myChart').getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    max : 200,
                    min : -200
                },
                type: 'linear',
                position: 'bottom',
            }],
            yAxes: [{
                ticks: {
                    max : 200,
                    min : -200
                }
            }]
        }
    }
});

var student_select =$("#students-select")
var assignment_select =$("#assignment-select")


function update_2d_data(){
$.get("http://localhost:5000/get_replay_data", {students : student_select.val(), assignment : assignment_select.val(), act_id : {{ activity.id }}}).done(
    function(returnedData) {
    scatterChart.data.datasets = [];
    for (var i = 0; i < returnedData.length; i++){
        datapoint = {data : returnedData[i]};
        console.log(datapoint)
        scatterChart.data.datasets.push(datapoint)
    }

    scatterChart.data.datasets[0].pointBackgroundColor = ["rgba(0, 0, 255, .2)", "rgba(0, 0, 255, .4)", "rgba(0, 0, 255, .6)", "rgba(0, 0, 255, 0.8)", "rgba(0, 0, 255, 1)", "rgba(255, 0, 0, 1)" ];
    scatterChart.update();
});
}

// get selector values
$.get('http://localhost:5000/get_students_and_assignments', {'act_id' : {{ activity.id }} }).done(
    function(returnedData) {
    console.log("getting students");
    console.log(returnedData);
    students = document.getElementById('students-select');
    assignments = document.getElementById('assignment-select');
    $("#students-select").empty();
    $("#assignment-select").empty();
    for (var i = 0; i < returnedData[0].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[0][i];
        option.text = returnedData[0][i];
        students.appendChild(option);
    }
    for (var i = 0; i < returnedData[1].length; i++) {
        var option = document.createElement("option");
        option.value = returnedData[1][i];
        option.text = returnedData[1][i];
        assignments.appendChild(option);
}
});




function get_select_values(){
    var retdict = { students : [student_select.val()], assignment : [assignments_select.val()]}
    console.log(retdict);
    return(retdict);
}


$("#assignment-select").change(function(){
    update_2d_data();
})

document.onload = function() {
    update_2d_data();
};

</script>
